@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$heading-font-rule: 'Major Mono Display', monospace;
;
$body-font-rule: 'Space Mono', monospace;;
$dark: #282C34;
$light: #D3D3D3; // lightgray
$medium: #696969; // dimgray

body {
  font-family: $body-font-rule;
}

button {
  font-family: $body-font-rule;

}

h1, h2, h3, h4, h5, h6, nav {
  font-family: $heading-font-rule;
}

*[role=button] {
  cursor: pointer;
}

.dashboard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: stretch;
  height: 100vh;

  & header {
    flex: 0 0 auto;
    background-color: $dark;
    display: flex;
    align-items: center;
    color: white;
    padding: 32px;
    height: 40px;

    & a {
      text-decoration: none;
      color: white;
    }

    & h1 {
      margin: 0;
    }

    & nav {
      font-size: 1.5em;
      margin-left: 64px;

      & ol {
        margin: 0;
        padding: 0;
        list-style-type: none;

        & li {
          display: inline;
          padding: 0 0 0 32px;
          margin-left: 48px;
          position: relative;

          &.current::before {
            content: '▻';
            position: absolute;
            left: 0;
            line-height: 24px;
          }
        }
      }
    }

    & div:last-child {
      flex: 1 0 auto;
      text-align: right;
    }
  }

  & > div {
    flex: 1 0 auto;
    height: calc(100% - 104px);

    &.overview {
      display: flex;
      justify-content: space-around;
      padding: 32px;
      align-items: flex-start;

      & > div {
        flex: 0 0 20%;
        border: 1px solid $dark;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      & > div h2 {
        flex: 0 0 auto;
        margin: 0;
      }

      & > div ul {
        list-style-type: none;
        padding: 0;
        align-self: stretch;
      }
    }

    &.two-panel {
      display: flex;
      align-items: stretch;

      & h2 {
        margin-left: 16px;
      }

      & > div.tabs-panel {
        padding: 0;
        margin: 0;
        flex: 0 0 35%;
        border-right: 1px solid $dark;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        & .tabs-container {
          display: flex;
          height: 42px;

          & > .tab {
            flex: 1 1 auto;
            border: 1px solid white;
            background-color: $light;
            cursor: pointer;
            flex-wrap: wrap;
            padding: 8px 16px;

            &.current {
              pointer-events: none;
              background-color: $medium;
              color: white;
            }
          }
        }

        & > .tab-content {
          padding: 16px;
          height: calc(100% - 42px);
          overflow-y: auto;

          & .upgrade {
            margin-bottom: 8px;
            border: 1px solid $light;
            padding: 8px;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;

            & > div.upgrade-image {
              flex: 0 0 auto;
              margin-right: 20px;
              border: 1px solid blue;
              background-color: whitesmoke;
              width: 100px;
              height: 100px;
            }

            & > div:not(.upgrade-image) {
              flex: 1 1 auto;
            }

            & .upgrade-title {
              display: flex;
              justify-content: space-between;

              & h3 {
                margin: 4px 0;
              }
            }

            & p {
              margin: 4px 0;
            }

            &.unavailable {
              pointer-events: none;
              color: $light;
            }

            &.expensive {
              pointer-events: none;
              color: red;
            }
          }
        }
      }

      & > div.main-panel {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;

        & button {
          align-self: center;
        }

        & > div:last-child {
          flex: 1 0 auto;
          border-top: 1px solid $dark;
          margin-top: 16px;
          padding: 16px;
          height: calc(100% - 399px); // 350 for button + 16 for margin + 16*2 for padding + 1 for border.
          overflow-y: scroll;
        }
      }

      & #factory {
        width: 350px;
        height: 350px;
        border: 1px solid blue;
        background: whitesmoke;
      }
    }
  }
}
